
user  nginx;
worker_processes  1;

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;


events {
    worker_connections  1024;
}

stream {
    log_format basic '$remote_addr [$time_local] '
                 '$protocol $status $bytes_sent $bytes_received '
                 '$session_time';
    access_log /var/log/nginx/access.log basic buffer=4k;

    server {
	listen 3128;

        proxy_pass cn.bing.com;
        # proxy_pass __SQUID_TARGET__;

    listen [::]:443 ssl ipv6only=on; # managed by Certbot
    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/nginx/kps/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/nginx/kps/privkey.pem; # managed by Certbot
    include /etc/nginx/kps/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/nginx/kps/ssl-dhparams.pem; # managed by Certbot

    }
}

